<html>
    <head>
        <link rel="stylesheet" href="/Practica-12-Template-engines-EJS/practica_12/public/style.css" type="text/css">
    </head>
    <body>
        <h1>Hello World!</h1>
    </body>
</html>